URxvt.depth: 32

! special
*.foreground: #DCDFE4
URxvt.background: [50]#001B26
*.cursorColor: #FFFFFF

! black
*.color0: #282C34
*.color8: #5A6374

! red
*.color1: #E06C75
*.color9: #E06C75

! green
*.color2: #98C379
*.color10: #98C379

! yellow
*.color3: #e5c07b
*.color11: #e5c07b

! blue
*.color4: #61afef
*.color12: #61afef

! purple
*.color5: #c678dd
*.color13: #c678dd

! cyan
*.color6: #56b6c2
*.color14: #56b6c2

! white
*.color7: #dcdfe4
*.color15: #dcdfe4


!! URxvt Appearance
URxvt.font: xft:Hack:style=Regular:size=10
URxvt.boldFont: xft:Hack:style=Bold:size=10
URxvt.italicFont: xft:Hack:style=Italic:size=10
URxvt.boldItalicFont: xft:hack:style=Bold Italic:size=10
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.InternalBorder: 15
URxvt.CursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveLine: 1024
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.iso14755: false


!! Common Keybinds for Navigation
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Extensions
URxvt.perl-ext-common: default,matcher,tabbedex
!tabbed
URxvt.url-launcher: /usr/bin/xdg-open

URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg6

URxvt.tabbedex.tabbar-fg: 3
URxvt.tabbedex.tabbar-bg: -1
URxvt.tabbedex.tab-fg: 5
URxvt.tabbedex.tab-bg: -1
URxvt.tabbedex.title-fg: 3
